@charset "utf-8";
  /* CSS Document */


body {
	background-color:#ddd;
	}

h1{

	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.5em;
	color:#5C5C5C;
}

h2 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1.2em;
	color:#606060;
	margin: 25px;
}

a {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: .75em;
	text-decoration:none;
	color:#323232;
}

a:hover {
	text-decoration:underline;
	color:#352DCE;
	background-color:#efecec;
}

ul {
	/*list-style:circle;*/
	margin-left:-15px;	
}



div {
	width:700px;
	height:500px;
	border: 1px solid blue;
	background-color: #F1F1F1;
	border-top-left-radius: 40px 40px;
	border-bottom-right-radius: 40px 40px;
	/*
	*/
	padding: 8px 10px;
}